@model WebBanHangOnline.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu?";
}

<div class="row">
    <a href="#" class="nav-link returnLoginLink">
        <p>
            <i class="fa fa-angle-left"></i>
            Quay lại
        </p>
    </a>
    <h2 style="text-align: center; width: 100%">@ViewBag.Title</h2>
    <div class="col-md-12">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form", id = "forgotPasswordForm" }))
        {
        @Html.AntiForgeryToken()
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 col-form-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email...", @id = "confirmationEmail" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="display: none;" class="col-md-12 validation-summary">
            <div class="alert alert-danger" role="alert" style="width: fit-content">
                <ul class="text-black validation-error"></ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Gửi xác nhận" class="btn red-button text-white btnConfirm" />
            </div>
        </div>
        <div class="col-md-12 success-line" style="display: none;">
            Bạn hãy chờ chút ...
        </div>
        }
    </div>
</div>
