@model WebBanHangOnline.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Đặt lại mật khẩu";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/whole_web_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/whole_web_responsive.css">

<div class="container product_section_container">
    <div class="row">
        <div class="col">
            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@ViewBag.Title</a></li>
                </ul>
            </div>
        </div>
    </div>

    @if (ViewBag.ValidLink)
    {
    <h2 id="title">@ViewBag.Title</h2>
    <div class="row reset-password-container">
        <div class="col-md-12">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form", id = "resetPasswordForm" }))
            {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.Token)
            <hr />

            <div class="form-group">
                @Html.LabelFor(m => m.Password, "Mật khẩu", new { @class = "col-md-4 col-form-label" })
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, "Nhập lại mật khẩu", new { @class = "col-md-4 col-form-label" })
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div style="display: none;" class="col-md-12 validation-summary">
                <div class="alert alert-danger" role="alert" style="width: fit-content">
                    <ul class="text-black validation-error"></ul>
                </div>
            </div>

            <div class="col-md-12 success-line" style="display: none;">
                Bạn hãy chờ chút ...
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Lưu" class="btn red-button text-white btnSave" />
                </div>
            </div>
            }
        </div>
    </div>
    } 
    else
    {
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="text-danger">Link xác thực không đúng</h3>
            <p class="text-danger">Quý khách hãy kiểm tra lại email!</p>
        </div>
    </div>
    }
</div>

@section Scripts {
    <script src="~/Scripts/jsLoginRegister.js"></script>
}
