@model PagedList.IPagedList<WebBanHangOnline.Models.EF.Order>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý đơn hàng";
}

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Home" class="nav-link">Trang chủ</a>
        </li>
        <li><a class="nav-link"><i class="fa fa-angle-right" aria-hidden="true"></i></a> </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Order" class="nav-link">Đơn hàng</a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/Home">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Đơn hàng</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách đơn hàng</h3>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Index", "Order", FormMethod.Get))
            {
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group input-group-sm mb-3">
                        @Html.TextBox("searchText", null, new { @class = "form-control", @placeholder = "Tìm kiếm đơn hàng..." })
                        <span class="input-group-append">
                            <button id="btnSearch" class="btn btn-info btn-flat">Tìm kiếm</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline mb-4">
                        <label for="fromDate" class="mr-2">Từ ngày:</label>
                        <input type="date" name="fromDate" id="fromDate" class="form-control mr-2" value="@ViewBag.FromDate" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <label for="toDate" class="mr-2">Đến ngày:</label>
                        <input type="date" name="toDate" id="toDate" class="form-control mr-2" value="@ViewBag.ToDate" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
            </div>
            }
            <div class="table-responsive" id="myTable">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã đơn hàng</th>
                            <th>Tên khách hàng</th>
                            <th>SĐT</th>
                            <th>Tổng tiền</th>
                            <th>Hình thức thanh toán</th>
                            <th>Trạng thái</th>
                            <th>Ngày tạo</th>
                            <th>Tạo bởi</th>
                            <th style="width: 150px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                            foreach (var item in Model)
                            {
                                <tr id="trow_@item.Id">
                                    <td>@i</td>
                                    <td>@item.Code</td>
                                    <td>@item.CustomerName</td>
                                    <td>@item.Phone</td>
                                    <td>@string.Format("{0:N0}", item.TotalAmount)<u>đ</u></td>
                                    <td>@(item.TypePayment == 1 ? "COD" : "Chuyển khoản")</td>
                                    @*<td>@(item.Status == 0 ? "Chờ thanh toán" : item.Status == 1 ? "Đã thanh toán" : "Đã hủy")</td>*@
                                    <td>
                                        @(item.Status == 0 ? "Chờ xác nhận" :
                                          item.Status == 1 ? "Đang vận chuyển" :
                                          item.Status == 2 ? "Đã giao" :
                                          item.Status == 3 ? "Đã hủy" : "Không xác định")
                                    </td>
                                    <td style="width: 30px;">@item.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                    <td>@item.CreatedBy</td>
                                    <td>
                                        <a href="/Admin/Order/View/@item.Id" class="btn btn-sm btn-primary">Xem</a>
                                        @if (item.Status == 0 || item.Status == 1)
                                        {
                                            <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnUpdate">Cập nhật</a>
                                        }
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">Không có bản ghi nào!</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="d-flex justify-content-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { searchText = ViewBag.SearchText, fromDate = ViewBag.FromDate, toDate = ViewBag.ToDate, page }))
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật trạng thái đơn hàng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="orderId" value="0" />
                <div class="form-group">
                    <label>Trạng thái</label>
                    <select class="form-control" id="status">
                        <option value="1">Đang vận chuyển</option>
                        <option value="2">Đã giao</option>
                        <option value="3">Hủy đơn</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btnSave">Lưu</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Admin/Scripts/jsOrder.js"></script>
}